<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>4 in line</title>
	<link rel="stylesheet" href="/static/normalize.css" />
	<link rel="stylesheet" href="/static/estilos.css" />
</head>
<body>
	<h1>Select a Game Mode</h1>
	<h2>Select Mode</h2>
	<section class="home">
		<a href="{% url "add1" 0 %}">
			<article>
				<p> Player vs Player</p>
			</article>
		</a>
		<a href="{% url "add1" 1 %}">
			<article>
				<p>Player vs PC</p>
			</article>
		</a>
	</section>
</body>
</html>









